<!-- <header class="catalog">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/catalog.css">
  <link rel="stylesheet" href="../css/reset.css">
</header> -->

<!-- <body> -->

  <section class="section-catalog">

    <div class="catalog-container">

      <h2 class="h-one-catalog btn-11" id="catalog">Catalog</h2>

      <ul class="ul-catalog">
        <li class="li-catalog">
          <a href="" class="a-catalog">
            <div>
              <div class="div-test-over">
                <!-- <picture> -->
                <!-- <source srcset="../img/catalog 1x/one-x.jpg 1x"> -->
                <img src="./img/catalog 1x/one-x.jpg" srcset="./img/catalog 1x/one-x.jpg 1x" alt="watch" width="275"
                  class="img-catalog">
                <!-- </picture> -->
                <div class="div-over-catalog">
                  <p class="p-over-catalog">Description</p>
                  <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                    Greenlane
                    watch.</span>
                  <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                  <ul class="span-over-catalog">
                    <li>Gender: man</li>
                    <li>Size: 46x54.5mm</li>
                    <li>Case Colour: Steel</li>
                    <li>Band Material: Metal</li>
                    <li>Case Material: Metal</li>
                    <li>Features: Multifunction</li>
                    <li>Water Resistant: 5 (ATM)</li>
                    <li>Band Colour: Steel</li>
                  </ul>
                </div>
              </div>
            </div>
            <p class="catalog-p-two">Tube Watch S42 Date Steel With Black Case</p>
            <span class="span-catalog">€395</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog">
            <div class="div-test-over">
              <img src="./img/catalog 1x/two-x.jpg" alt="watch" height="274" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Avondale Watch Police For Men</p>
            <span class="span-catalog">€800</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog" width="275px">
            <div class="div-test-over">
              <img src="./img/catalog 1x/three-x.jpg" alt="watch" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two three-h-width-mobile">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
            <span class="span-catalog">€600</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog" width="275px">
            <div class="div-test-over">
              <img src="./img/catalog 1x/four-x.jpg" alt="watch" width="275" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Diver 300M Co-Axial Master Chronometer</p>
            <span class="span-catalog">€1400</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog" width="275px">
            <div class="div-test-over">
              <img src="./img/catalog 1x/fife-x.jpg" alt="watch" width="275" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Taman Watch By Police For Men</p>
            <span class="span-catalog">€500</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog" width="275px">
            <div class="div-test-over">
              <img src="./img/catalog 1x/six-x.jpg" alt="watch" width="275" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Malawi Watch Police For Men</p>
            <span class="span-catalog">€555</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog" width="275px">
            <div class="div-test-over">
              <img src="./img/catalog 1x/seven-x.jpg" alt="watch" width="275" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Diver 300M Co-Axial Master Chronometer</p>
            <span class="span-catalog">€1200</span>
          </a>
        </li>

        <li class="li-catalog">
          <a href="" class="a-catalog">
            <div class="div-test-over">
              <img src="./img/catalog 1x/eight-x.jpg" alt="watch" width="275" class="img-catalog">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Greenlane Watch By Police For Men</p>
            <span class="span-catalog">€1000</span>
          </a>
        </li>

        <li class="hiden li-catalog">
          <a href="" class="a-catalog">
            <div class="div-test-over">
              <img src="./img/catalog 1x/nine-x.jpg" alt="">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">Gender: man
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Squardrc 5402 Chrono</p>
            <span class="span-catalog">€359</span>
          </a>
        </li>

        <li class="hiden li-catalog">
          <a href="" class="a-catalog">
            <div class="div-test-over">
              <img src="./img/catalog 1x/ten-x.jpg" alt="">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
            <span class="span-catalog">€400</span>
          </a>
        </li>

        <li class="hiden li-catalog">
          <a href="" class="a-catalog">
            <div class="div-test-over">
              <img src="./img/catalog 1x/eleven-x.jpg" alt="">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Citizen</p>
            <span class="span-catalog">€519</span>
          </a>
        </li>

        <li class="hiden li-catalog">
          <a href="" class="a-catalog">
            <div class="div-test-over">
              <img src="./img/catalog 1x/twelve-x.jpg" alt="">
              <div class="div-over-catalog">
                <p class="p-over-catalog">Description</p>
                <span class="span-over-catalog">Richly detailed with an understated design - the Police Men’s
                  Greenlane
                  watch.</span>
                <p class="p-over-catalog">DETAILS & FEATUREStion</p>
                <ul class="span-over-catalog">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
            <p class="catalog-p-two">Armani Exchange</p>
            <span class="span-catalog">€400</span>
          </a>
        </li>

      </ul>
      <button class="button-catalog" data-modal-clock-open >Buy now</button>
    </div>

    </div>

  </section>

<!-- </body> -->
