<footer class="footer">
  <div class="footer-container">
    <div class="footer-wrap">
      <div>
        <a href="../index.html">
          <svg class="footer-logo" width="40" height="40">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-address">
          <ul class="footer-list">
            <li class="footer-item">
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="footer-item">
              1678 S. Pioneer Road <br />Salt Lake City<br />UT 84104
            </li>
          </ul>
        </address>
      </div>

      <nav class="footer-navigation">
        <ul class="footer-navigation-list">
          <li class="footer-navigation-item">
            <a href="#about_us" class="footer-navigation-link"
              >About us</a
            >
          </li>
          <li class="footer-navigation-item">
            <a href="#catalog" class="footer-navigation-link">Catalog</a>
          </li>
          <li class="footer-navigation-item">
            <a href="#sale" class="footer-navigation-link">Sale</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <svg class="footer-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="footer-soc-item">
          <svg class="footer-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="footer-soc-item">
          <svg class="footer-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </li>
      </ul>
    </div>

    <div class="footer-info">
      <p class="footer-text">&#169;2022 The Watch Spot. All rights reserved.</p>
      <div class="footer-privacy">
        <p class="footer-text">Privacy Policy</p>
        <p class="footer-text">Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
