<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">
        <svg class="logo-icon" width="19" height="19">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        thewatchspot
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about_us.html">ABOUT US</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#catalog.html">CATALOG</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#sale.html">SALE</a>
        </li>
      </ul>
    </nav>
    <button
      class="mobile-menu-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg class="mobile-menu-open_icon" width="24" height="24">
        <use href="../img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <button class="header-btn" type="button">
      <a class="phone-link" href="+380684439426">+380 (68) 443-94-26</a>
    </button>
  </div>
  <!-------------- Mobile menu------------- -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu-container">
      <a class="header-logo-link" href="../index.html">
        <svg class="logo-icon" width="19" height="19">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        thewatchspot
      </a>
      <button class="mobile-menu-close-btn js-close-menu" type="button">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="mobile-header-list">
        <li class="header-item">
          <a class="header-link" href="#about_us.html">ABOUT US</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#catalog.html">CATALOG</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#sale.html">SALE</a>
        </li>
      </ul>
    </div>
  </div>
</header>
