<!-- -----------------------MODAL-------------------- -->
<div class="backdrop visually-hidden" data-clock-modal>
    <div class="modal">
      <button class="button-modal-close" type="button" data-modal-clock-close>
        <svg class="icon-close-btn" widht="10" height="10">
          <use href="../img/close.svg##close"></use>
        </svg>
      </button>
      <div class="modal-img-wrap">
        <img
          class="modal-img"
          src="./img/modal/img-modal-1x.jpg"
          alt="clock"
          width="276"
          height="325"
        />
        <h3 class="modal-title">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="modal-price">€395</p>
      </div>
      <div>
        <form class="modal-form">
          <label class="modal-form-label">
            <span class="modal-form-title">Full name</span>
            <span class="modal-form-input-wrapper">
              <input
                type="text"
                name="user-name"
                class="modal-form-input"
                required
                pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
                minlength="2"
                placeholder="Enter your full name"
              />
            </span>
          </label>
          <label class="modal-form-label">
            <span class="modal-form-title">Email</span>
            <span class="modal-form-input-wrapper">
              <input
                type="text"
                name="user-name"
                class="modal-form-input"
                required
                pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
                minlength="2"
                placeholder="Enter your email"
              />
            </span>
          </label>
          <label class="modal-form-label">
            <span class="modal-form-title">Card number</span>
            <span class="modal-form-input-wrapper">
              <input
                type="text"
                name="user-name"
                class="modal-form-input"
                required
                pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
                minlength="2"
                placeholder="Enter card"
              />
            </span>
          </label>
          <label class="modal-label-comment">
            <span class="modal-form-title">Comment</span>
            <textarea
              name="user-comment"
              class="modal-comment"
              placeholder="Enter your text"
            ></textarea>
          </label>
          <button class="modal-btn-submit" type="submit">submit</button>
          <p class="modal-policy">
            By clicking on “Submit” button, you agree to our
            <a href="" class="policy">Privacy Policy</a> ,
            <span class="promodo"
              >and allow Promodo to use this information for marketing
              purposes.</span
            >
          </p>
        </form>
      </div>
    </div>
  </div>