<section class="new-watches">
    <div class="new-watches-desc">
  <div class="new-watches-container">
<h2 class="new-watches-titale">New watches</h2>
<div class="new-watches-descontainer">
<h3 class="new-watches-desc">Green And Bronze—The Match Made In Heaven</h3>
</div></div>
<ul class="new-watches-list"> 
    <li class="new-watches-item">
        <picture>
           <source
            srcset="./img/new_watches/desc_new1.jpg 1x, ./img/new_watches/desc_new1@2x.jpg 2x"
            media="(min-width:1250px)"
            />

            <source
            srcset="./img/new_watches/tab-new1.jpg 1x, ./img/new_watches/tab-new1@2x.jpg 2x"
            media="(min-width:768px)"
            />


            <source
            srcset="./img/new_watches/mob-new1.jpg 1x, ./img/new_watches/mob-new1@2x.jpg 2x"
            media="(min-width:375px)"
            />
          
             <img
            src="./img/new_watches/mob-new1.jpg"
            alt="Foto of new watches"
            
            />
          </picture>
    </li>

    <li class="new-watches-item">
        <picture>
            <source
             srcset="./img/new_watches/desc_new2.jpg 1x, ./img/new_watches/desc_new2@2x.jpg 2x"
             media="(min-width:1250px)"
             />
 
             <source
             srcset="./img/new_watches/tab_new2.jpg 1x, ./img/new_watches/tab_new2@2x.jpg 2x"
             media="(min-width:768px)"
             />
 
 
             <source
             srcset="./img/new_watches/mob-new2.jpg 1x, ./img/new_watches/mob-new2@2x.jpg 2x"
             media="(min-width:375px)"
             />
 
              <img
             src="./img/new_watches/mob-new2.jpg"
             alt="Foto of new watches"
             
             />
           </picture>
    </li>
</ul>
</div>
  
  
</section>