<section class="sale-section">
  <div class="sale-container">
    <h2 class="sale-title" id="sale">Sale</h2>
    <div class="sale-gallary"></div>
    <div class="sale-product">
      <div class="sale-specific">
        <h3 class="sale-name">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-tag sale-text">Product tag: PEWJK2227003</p>
        <p class="sale-price">€700</p>
      </div>
      <div class="sale-desdription">
        <h4 class="sale-product-title">Description</h4>
        <p class="sale-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="sale-details">
        <h4 class="sale-product-title">DETAILS & FEATUREStion</h4>
        <ul class="sale-text list-details">
          <li>Gender: man</li>
          <li>Size: 46x54.5mm</li>
          <li>Case Colour: Steel</li>
          <li>Band Material: Metal</li>
          <li>Case Material: Metal</li>
          <li>Features: Multifunction</li>
          <li>Water Resistant: 5 (ATM)</li>
          <li>Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
