.about-container {
  max-width: 335px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  margin: 0 auto;
 
}
.about-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--backround-swipe);
  margin-bottom: 40px;
}
.about-item:first-child {
  margin-bottom: 20px;
}
.about-list {
  margin-bottom: 40px;
}
.about-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--background-maine);
}
.about-gif {
  width: 335px;
  height: 365px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about-container {
    max-width: 768px;
    padding-top: 64px;
    padding-bottom: 128px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-us-title {
    font-size: 40px;
    line-height: 1.1;
  }
  .about-wraper {
    width: 704px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-content: center;

    flex-wrap: wrap;
  }
  .about-list {
    width: 490px;
    display: flex;
    gap: 20px;
  }
  .about-item:first-child {
    margin-bottom: 0;
  }

  .about-gif {
    width: 704px;
    height: 465px;
  }
}
@media screen and (min-width: 1280px) {
  .about-container {
    max-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 132px;
    padding-right: 132px;
    margin: 0 auto;
  }
  .about-wraper {
    width: 1176px;
    gap: 124px;
  }
  .about-title {
    font-size: 40px;
    line-height: 1.1;
  }
  .about-list {
    width: 892px;
    gap: 40px;
  }

  .about-gif {
    width: 892px;
    height: 500px;
    margin-left: auto;
  }
}
