/* body {
  margin: 0;
} */

/* main {
  display: block;
} */

/* p {
  margin-top: 0px;
  margin-bottom: 0px;
} */

/* h2 {
  margin: 0;
} */


/* 
h1 {
  margin: 0;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
} */

/* address {
  font-style: normal;
} */

/* ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
} */

/* a {
  text-decoration: none;
}  */



.section-catalog {
  /* padding: 0 20px; */
}

.catalog-container {
  max-width: 375px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

.h-one-catalog {
  margin-bottom: 40px;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: #1E2827;
}

.ul-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  margin-bottom: 40px;
}

.div-test-over {
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
}

.img-catalog {

}

.div-over-catalog {
  background-color: #141414;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #1E2827;
  border-radius: 8px;
  padding: 20px;
      transform: translateY(101%);
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
}

.a-catalog:hover .div-over-catalog {
  transform: translateY(0%);}


/* .div-test-over:hover > .div-over-catalog {
transform: translateY(0%);
}

.div-test-over:focus > .div-over-catalog {
  transform: translateY(0%);
} */




.p-over-catalog {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: #FFFFFF;
  margin-bottom: 6px;
}

.span-over-catalog {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
}

/* H2 */
.catalog-p-two {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #141414;
  margin-bottom: 4px;
  width: 275px;
}

.span-catalog {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.button-catalog {
  display: block;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 28px;
  background: #1E2827;
  border-radius: 8px;
  margin-left: auto;
  border: 1px solid #1E2827;
}

.button-catalog:hover, .button-catalog:focus {
border: 1px solid #FFFFFF;
}

.li-catalog {
  height: 325px;
}

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*====== Mob ======*/
@media screen and (min-width: 50px) and (max-width: 375px) {

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



}


/*====== tablet ======*/
/* @media screen and (min-width: 376px) and (max-width: 1279px) { */
@media screen and (min-width: 768px) {
  .section-catalog {
    /* padding: 0 32px; */
  }

  .catalog-container {
    max-width: 768px;
    margin: 0 auto;
    /* background-color: aquamarine; */
  }

.ul-catalog {
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: unset;
  align-items: normal;
  gap: 32px;
}

.li-catalog {
  height: 410px;
}

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


}

/*====== desctop ======*/
@media screen and (min-width: 1280px) {



.catalog-container {
  max-width: 1280px;
  margin: 0 auto;
}

.ul-catalog {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 64px;
}

.hiden {
  position: initial;
    width: initial;
    height: initial;
    margin: initial;
    border: initial;
    padding: initial;
    white-space: initial;
    clip-path: initial;
    clip: initial;
    overflow: initial;
}


}

