footer {
  background-color: var(--backround-swipe);
}
.footer-container {
  width: 100%;
  padding: 40px 20px 20px;
  margin: 0 auto;
}
.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin-bottom: 80px;
}
.footer-logo {
  fill: var(--white);
  margin-bottom: 40px;
}
.footer-item {
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  color: var(--white);
}
.footer-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer-navigation-item {
  font-family: 'Epilogue';
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--white);
}
.footer-navigation-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-soc-list {
  display: flex;
  gap: 14px;
}
.footer-soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.footer-soc-icon {
  fill: var(--white);
}
.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.footer-text {
  font-family: 'Epilogue';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: #c6cdd1;
}
.footer-privacy {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 375px) {
  .footer-container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
    padding: 80px 32px 20px 32px;
  }
  .footer-wrap {
    margin-bottom: 152px;
  }
  .footer-logo {
    width: 50px;
    height: 50px;
  }
  .footer-item {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-navigation-item {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-navigation-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .footer-soc-list {
    gap: 16px;
  }
  .footer-soc-item {
    width: 44px;
    height: 44px;
  }
  .footer-soc-icon {
    width: 28px;
    height: 28px;
  }
  .footer-info {
    justify-content: space-between;
  }
  .footer-privacy {
    gap: 18px;
  }
  .footer-text {
    font-size: 14px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1280px;
    padding: 104px 132px 32px 132px;
  }
  .footer-wrap {
    margin-bottom: 174px;
  }
}
